:root {
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navy-blue-color: #2e2f42;
  --green-color: #31d0aa;
  --slate-color: #434455;
  --light-slate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey-color: rgba(46, 47, 66, 0.7);
  --white-color: #ffffff;
  --dairy-color: #fcfcfc;
}

/*----------Body----------*/

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--slate-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/*----------Header----------*/

.header {
  border-bottom: 1px solid var(--cornflower-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*----------Navigation----------*/
.header-nav {
  display: flex;
  align-items: center;
}
/*----------Logo----------*/

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
  margin-right: 76px;
}

.header-logo-text {
  color: var(--navy-blue-color);
}

/*----------Navigation list----------*/

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  display: block;
  padding: 24px 0;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--ocean-color);
  text-decoration: underline 2px var(--ocean-color);
}

/*----------Address----------*/

.header-address {
  font-style: normal;
}
.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--ocean-color);
}

/*----------Main Page----------*/
/*----------Hero----------*/

.hero {
  max-width: 1440px;
  background-color: var(--navy-blue-color);
  background-image: linear-gradient(var(--grey-color), var(--grey-color)),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-btn {
  background-color: var(--iris-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--ocean-color);
}

/*----------Features----------*/

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list-item {
  width: calc((100%-72px) / 4);
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: var(--cloud-color);
  border-radius: 4px;
  border: none;
  margin-bottom: 8px;
}

.features-list-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  margin-bottom: 8px;
}

.features-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

/*----------What are we doing----------*/

.whatdoing {
  padding-bottom: 120px;
}

.whatdoing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
  margin-bottom: 72px;
}

.whatdoing-list {
  display: flex;
  gap: 24px;
}

.whatdoing-list-item {
  width: calc((100%-48px) / 3);
}

.whatdoing-img {
  border: 1px solid var(--cornflower-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*----------Our team----------*/

.team {
  background-color: var(--cloud-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  background-color: var(--white-color);
  width: calc((100%-72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.team-list-info {
  padding: 32px 16px;
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  margin-bottom: 8px;
  text-align: center;
}

.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-icon-item {
  width: 40px;
  height: 40px;
}

.team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  background-color: var(--iris-color);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--ocean-color);
}

.team-icon {
  fill: var(--cloud-color);
}

/* ------------Customers------------ */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
  margin: 0 auto 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.customers-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate-color);
  border-radius: 4px;
  color: var(--light-slate-color);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean-color);
  color: var(--ocean-color);
}

.customer-icon {
  fill: currentColor;
}

/*----------End Main Page----------*/
/*----------Footer----------*/

.footer {
  background-color: var(--navy-blue-color);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
  /* gap: 120px; */
}

.footer-logo-box {
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-text {
  color: var(--cloud-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
  max-width: 264px;
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  background-color: var(--iris-color);
  justify-content: center;
  align-items: center;
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--green-color);
}

.social-media-icon {
  fill: var(--cloud-color);
}

/*----------Portfolio----------*/

.portfolio {
  padding: 96px 0 120px;
}

.portfolio-list-btns {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-btn {
  background-color: var(--cloud-color);
  border: 1px solid var(--cornflower-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  cursor: pointer;
  padding: 12px 24px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--ocean-color);
  color: var(--white-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-link {
  display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid var(--cornflower-color);
  border-top: none;
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  margin-bottom: 8px;
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

/* End Portfolio */
